version: "3.9"

services:
  postgres:
    image: postgres:15-alpine
    container_name: user_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  app:
    build: .
    container_name: user_service
    ports:
      - "50052:50052"  # gRPC порт
      - "8082:8082"    # HTTP порт (если есть)
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/users?sslmode=disable
      # или разбить на части:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users
      USER_SERVICE_PORT: ":50052"  # Указываем gRPC порт явно
      GRPC_PORT: "50052"
    depends_on:
      postgres:
        condition: service_healthy
        